.App {
  text-align: center;
}

.header {
  display: flex;
}

.header > div {
  background-color: #f1f1f1;
  width: 150px;
  margin: 10px 50px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}


.mainChart {
  display: flex;
  margin: 10px 50px;
}
